@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&family=Sixtyfour&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* body */
.html, body {
    width: 100%;
    height: 100%;
}

body{
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    background: linear-gradient(to bottom, grey, lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

}
/* primeiro compartimento linha do logo*/
.container__1{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;

}

.logo {
    width: 4rem;
    height: 4rem;
    margin: 1%;

}

.Titulo__principal{
    width: 50rem;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%; 
    margin-right: 20%; 
    font-family: 'Sixtyfour', sans-serif;
    font-size: 2rem;
    color: #DCEDC8;
    box-sizing: border-box;

    
}

/* segundo compartimento linha textbox, botoes, input */

.container__2{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 8%;
    box-sizing: border-box;


}

.texto_div{
    width: 50vw;
    height: 45vh;
    background-color: black;
    color: rgb(3, 179, 3);
    font-family: 'Sixtyfour', sans-serif;
    font-size: 60%;
    margin: 1%;
    word-wrap: break-word;
    border: 2px solid grey;
    padding: 2%;
    border-radius: 3%;
}

.container__2__figure{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    color: black;
    font-family: 'Press Start 2P', system-ui;
    font-size: 50%;
   
}

.texto_vector{
    margin-left: 1vw;
    margin-top: 1vh;
    color: black;
    font-family: 'Press Start 2P', system-ui;
    font-size: 1vw 1vh;

}

.container__2__botoes{
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
    gap: 0.5%;
}

.botao_encrip{
    width: 25vw;
    height: 8vh;
    padding: 1%;
    font-size: 0.7rem;

}

.botao_descrip{
    width: 25vw;
    height: 8vh;
    padding: 1%;
    font-size: 0.7rem;

}

/*terceiro compartimento ancora*/
.container__3{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 8%;
    box-sizing: border-box;


}

.container__2__textbox{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    background-color: rgb(161, 183, 190);
    margin-left: 5%;
    margin-top: 0.5%;
    word-wrap: break-word;
    border: 2px solid grey;
    padding: 2%;
    align-items: center;
    border-radius: 4%;
    background: transparent
}

   
.caixadetexto {
    width: 100%; 
    max-width: 600px; 
    height: auto;
    max-height: 300px;
    padding: 0.8rem;
    background-color: lightblue;
    border: 2px solid grey;
    border-radius: 5px;
    resize: vertical; 
    overflow: auto; 
}

.copiartexto{
    width: 20vw;
    height: 6vh;
    min-height: 6vh;
    margin-top: 6%;
    padding: 1%;
    font-size: 0.7rem;

}

.container__3{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    

}

.image_git{
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.4rem;
    transition: transform 0.3s ease-in-out;
    vertical-align: middle;
}

.Github{
    outline: none;
    color: black;
    font-family: 'Press Start 2P', system-ui;
    font-size: 0.7rem;
    vertical-align: middle;
 
}

.image_git:hover{
    color: grey;
    transform: scale(1.1);
}

.Github:hover{
    color: grey;
    transform: scale(1.1);
}
